@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,700|Roboto:400,500,700,900&display=swap");
body {
  background-color: #161b22;
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  display: inline;
  color: black;
}

.grid-container {
  max-width: 980px;
  margin: auto;
}

.header {
  height: 140px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  border-bottom: solid 1px #47576E;
}

.header-socialNetworks {
  width: 100%;
  height: 50px;
  display: -ms-grid;
  display: grid;
}

.header-socialNetworks__containerIcons {
  width: 300px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: end;
  margin-right: 50px;
}

.header-socialNetworks__containerIcons span {
  color: white;
}

.header-navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
  height: 90px;
}

.header-navBar__iconLogo {
  margin-left: 10px;
}

.header-navBar__iconLogo img {
  width: 80px;
  border: solid 2px #47576E;
  border-radius: 50%;
}

.header-navBar__iconMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-navBar__iconMe a {
  color: #1d528f;
  border-bottom: 1px solid #1d528f;
  font-size: 1.5rem;
  font-weight: 500;
}

.home-body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.home {
  background-image: url("../assets/img/nubelson-fernandes--Xqckh_XVU4-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.home-container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-container__text {
  width: 60%;
  margin-top: 100px;
}

.home-container__text--p {
  color: #7994BA;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 10px;
  text-shadow: -2px 0px #47576E;
}

.home-container__button {
  margin-top: 100px;
}

.home-container__button--button {
  color: #7994BA;
  font-size: 2rem;
  border: none;
  padding: 15px 30px;
  background: #374354;
  background: linear-gradient(288deg, #374354 0%, #262f3b 17%, #0d1117 43%);
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
}

.home-container__button--button:hover {
  color: #1d528f;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: rgba(55, 67, 84, 0.822);
  background: linear-gradient(288deg, rgba(55, 67, 84, 0.808) 0%, rgba(38, 47, 59, 0.774) 17%, rgba(13, 17, 23, 0.788) 43%);
}

.blogs-main {
  display: -ms-grid;
  display: grid;
}

.containerNewBlogs {
  background: #374354;
  background: linear-gradient(288deg, #374354 0%, #262f3b 17%, #0d1117 43%);
  -webkit-box-shadow: 7px 2px #47576E;
          box-shadow: 7px 2px #47576E;
  padding: 0 50px 40px;
}

.containerNewBlogs__blogNew {
  padding: 0 50px 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -ms-grid-rows: 2fr;
      grid-template-rows: 2fr;
}

.containerNewBlogs__blogNew--h3 {
  color: #1d528f;
  font-size: 2rem;
  font-weight: 700;
}

.containerNewBlogs__blogImg {
  -ms-grid-column: 1;
  grid-column: 1;
}

.containerNewBlogs__blogImg--img {
  width: 85%;
  border-radius: 10px;
}

.containerNewBlogs__blogInfo {
  -ms-grid-column: 2;
  grid-column: 2;
}

.containerNewBlogs__blogInfo--h2 {
  color: #1d528f;
  margin-top: 0;
  font-size: 3rem;
  font-weight: 700;
}

.containerNewBlogs__blogInfo--p {
  color: #7994BA;
  font-size: 1.5rem;
  margin-bottom: 35px;
}

.containerNewBlogs__blogInfo--button {
  background: #374354;
  background: linear-gradient(288deg, #374354 0%, #262f3b 17%, #0d1117 43%);
  border: solid 1px #47576E;
  border-radius: 5px;
  padding: 10px 20px;
  color: #7994BA;
  font-size: 1.2rem;
  font-weight: 500;
}

.containerNewBlogs__blogInfo--button:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #1d528f;
  background: rgba(55, 67, 84, 0.822);
  background: linear-gradient(288deg, rgba(55, 67, 84, 0.808) 0%, rgba(38, 47, 59, 0.774) 17%, rgba(13, 17, 23, 0.788) 43%);
}

.containerBlogs h3 {
  color: #1d528f;
  border-bottom: 1px solid #47576E;
  padding-bottom: 20px;
  text-align: center;
  font-size: 2rem;
}

.containerBlogs__article {
  display: inline-block;
  max-width: 30%;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 50px;
  -webkit-box-shadow: 2px 2px #47576E;
          box-shadow: 2px 2px #47576E;
  border-radius: 20px;
  padding: 0 0px 30px 10px;
}

.containerBlogs__article p {
  color: #7994BA;
  padding-left: 10px;
  margin-bottom: 35px;
  font-size: 1.5rem;
}

.containerBlogs__article h4 {
  color: #1d528f;
  padding-left: 10px;
  font-size: 2rem;
  font-weight: 700;
}

.containerBlogs__article img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.containerBlogs__button--button {
  background: #374354;
  background: linear-gradient(288deg, #374354 0%, #262f3b 17%, #0d1117 43%);
  border: solid 1px #47576E;
  border-radius: 5px;
  padding: 10px 20px;
  color: #7994BA;
  font-size: 1.2rem;
  font-weight: 500;
}

.containerBlogs__button--button:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #1d528f;
  background: rgba(55, 67, 84, 0.822);
  background: linear-gradient(288deg, rgba(55, 67, 84, 0.808) 0%, rgba(38, 47, 59, 0.774) 17%, rgba(13, 17, 23, 0.788) 43%);
}

.blogpost__containerImg {
  padding: 40px 50px 40px;
}

.blogpost__containerImg--img {
  width: 100%;
}

.blogpost__containerMain {
  padding: 0 50px 40px;
}

.blogpost__containerMain--h3 {
  color: #1d528f;
  font-size: 2rem;
  border-bottom: solid 1px #47576E;
  padding-bottom: 20px;
}

.blogpost__containerArticle--h2 {
  color: #1d528f;
  font-size: 3.5rem;
}

.blogpost__containerArticle--p {
  color: #7994BA;
  font-size: 1.5rem;
}

.containerPerfil {
  background: #374354;
  background: linear-gradient(288deg, #374354 0%, #262f3b 17%, #0d1117 43%);
  -webkit-box-shadow: 7px 2px #47576E;
          box-shadow: 7px 2px #47576E;
  padding: 0 50px 40px;
}

.containerMePerfil {
  padding: 50px 50px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerMePerfil__containerImg--img {
  width: 300px;
  border-radius: 50%;
}

.containerMePerfil__containerInfo {
  padding: 50px;
}

.containerMePerfil__containerInfo--h1 {
  color: #7994BA;
  font-size: 2rem;
  font-weight: 900;
}

.containerMePerfil__containerInfo--p {
  color: #7994BA;
  font-size: 1.5rem;
}

.projects {
  border-bottom: 1px solid #47576E;
  padding: 0 50px 100px;
}

.projects__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.projects__title--h3 {
  color: #1d528f;
  padding: 20px;
  font-size: 3.2rem;
  font-weight: 700;
  text-align: center;
  border-bottom: 1px solid #47576E;
}

.projects__article {
  background: #374354;
  background: linear-gradient(330deg, #374354 0%, #262f3b 17%, #0d1117 43%);
  -webkit-box-shadow: 2px 2px #47576E;
          box-shadow: 2px 2px #47576E;
  border-radius: 20px;
  padding: 30px 10px 30px 20px;
  margin-right: 10px;
}

.projects__article--h2 {
  color: #7994BA;
  font-size: 2rem;
}

.projects__article--p {
  color: #7994BA;
  font-size: 1.5rem;
}

.containerContact {
  border-bottom: solid 1px #47576E;
  background: #374354;
  background: linear-gradient(288deg, #374354 0%, #262f3b 17%, #0d1117 43%);
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  min-height: 250px;
}

.containerContact__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 49.5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerContact__left--img {
  width: 100px;
}

.containerContact__leftInfo {
  width: 300px;
  padding-left: 20px;
}

.containerContact__leftInfo--link {
  color: #1d528f;
  font-size: 2rem;
  font-weight: 700;
  border-bottom: solid 1px #1d528f;
  padding-bottom: 5px;
}

.containerContact__leftInfo--p {
  color: #7994BA;
  font-size: 1.4rem;
}

.containerContact__right {
  border-left: solid 1px #47576E;
  width: 49.5%;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerContact__right--img {
  width: 100px;
}

.containerContact__rightInfo {
  width: 300px;
  padding-left: 20px;
}

.containerContact__rightInfo--link {
  color: #1d528f;
  font-size: 2rem;
  font-weight: 700;
  border-bottom: solid 1px #1d528f;
  padding-bottom: 5px;
}

.containerContact__rightInfo--p {
  color: #7994BA;
  font-size: 1.4rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 80px;
  background: #374354;
  background: linear-gradient(288deg, #374354 0%, #262f3b 17%, #0d1117 43%);
  border-top: 35px solid #091930;
}

footer p {
  color: #7994BA;
}

@media screen and (max-width: 1000px) {
  .containerNewBlogs__blogNew {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 3fr;
        grid-template-rows: 3fr;
  }
  .containerNewBlogs__blogImg {
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .containerNewBlogs__blogImg--img {
    width: 100%;
  }
  .containerNewBlogs__blogInfo {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .containerNewBlogs__blogInfo--h2 {
    font-size: 2.8rem;
  }
  .containerNewBlogs__blogInfo--p {
    font-size: 1.8rem;
  }
  .containerBlogs__article {
    max-width: 45%;
  }
  .containerBlogs__article p {
    font-size: 1.4rem;
  }
  .containerMePerfil {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .containerMePerfil__containerInfo {
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
  }
  .projects {
    padding: 0 40px 40px 20px;
  }
  .projects__container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .projects__article {
    width: 95%;
    margin-bottom: 20px;
  }
  .home-container__button {
    margin-top: 50px;
  }
}

@media screen and (max-width: 600px) {
  .header-socialNetworks__containerIcons {
    margin-right: 0;
  }
  .containerNewBlogs {
    padding: 0;
  }
  .containerNewBlogs__blogInfo--h2 {
    font-size: 2.5rem;
  }
  .containerNewBlogs__blogInfo--p {
    font-size: 1.5rem;
  }
  .header-navBar {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header-navBar__iconLogo {
    margin-left: 0;
  }
  .header-socialNetworks__containerIcons {
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .containerBlogs__article {
    max-width: 95%;
    margin-left: 5px;
  }
  .containerPerfil {
    padding-left: 0;
    padding-right: 0;
  }
  .containerMePerfil {
    padding-left: 0;
    padding-right: 0;
  }
  .home-container__text {
    width: 100%;
  }
  .home-container__text--p {
    font-size: 2.5rem;
  }
  .containerContact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .containerContact__left {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .containerContact__left--img {
    width: 80px;
  }
  .containerContact__leftInfo {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }
  .containerContact__right {
    width: 100%;
    border-left: none;
    border-top: solid 1px #b2b8c1;
    padding-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .containerContact__right--img {
    width: 80px;
  }
  .containerContact__rightInfo {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }
  .projects__article {
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .containerBlogs__article {
    width: 92%;
  }
  .containerNewBlogs__blogInfo--h2 {
    font-size: 2.4rem;
  }
  .containerNewBlogs__blogInfo--p {
    font-size: 1.4rem;
  }
}
/*# sourceMappingURL=styles.css.map */