@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,700|Roboto:400,500,700,900&display=swap");
body {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  display: inline;
  color: black;
}

.grid-container {
  max-width: 980px;
  margin: auto;
}

.header {
  width: 100%;
  height: 140px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.header-socialNetworks {
  width: 100%;
  height: 50px;
  display: -ms-grid;
  display: grid;
  background-color: #47cfac;
}

.header-socialNetworks__containerIcons {
  width: 300px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: end;
  margin-right: 50px;
}

.header-socialNetworks__containerIcons span {
  color: white;
}

.header-navBar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 90px;
}

.header-navBar__iconLogo {
  margin-left: 50px;
}

.header-navBar__iconLogo img {
  width: 220px;
  margin-top: 10px;
}

.header-navBar__iconMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 50px;
}

.header-navBar__iconMe a {
  color: black;
  border-bottom: 1px solid black;
  font-size: 1.5rem;
  font-weight: 500;
}

.home-body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.home {
  background-image: url(../assets/img/Cover.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.home-container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-container__text {
  width: 60%;
  margin-top: 100px;
}

.home-container__text--p {
  color: white;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 10px;
  text-shadow: -2px 0px #47cfac;
}

.home-container__button {
  margin-top: 100px;
}

.home-container__button--button {
  font-size: 2rem;
  border: none;
  padding: 15px 30px;
  background-color: #47cfac;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
}

.home-container__button--button:hover {
  background-color: rgba(71, 207, 173, 0.849);
}

.blogs-main {
  display: -ms-grid;
  display: grid;
}

.containerNewBlogs {
  background-color: #e6e9ed;
  -webkit-box-shadow: 7px 2px #cdd2da;
          box-shadow: 7px 2px #cdd2da;
  padding: 0 50px 40px;
}

.containerNewBlogs__blogNew {
  padding: 0 50px 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -ms-grid-rows: 2fr;
      grid-template-rows: 2fr;
}

.containerNewBlogs__blogNew--h3 {
  font-size: 2rem;
  font-weight: 700;
}

.containerNewBlogs__blogImg {
  -ms-grid-column: 1;
  grid-column: 1;
}

.containerNewBlogs__blogImg--img {
  width: 85%;
  border-radius: 10px;
}

.containerNewBlogs__blogInfo {
  -ms-grid-column: 2;
  grid-column: 2;
}

.containerNewBlogs__blogInfo--h2 {
  margin-top: 0;
  font-size: 3rem;
  font-weight: 700;
}

.containerNewBlogs__blogInfo--p {
  font-size: 2rem;
  margin-bottom: 35px;
}

.containerNewBlogs__blogInfo--button {
  border: solid 1px #47cfac;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: 500;
  -webkit-box-shadow: 2px 2px #cdd2da;
          box-shadow: 2px 2px #cdd2da;
}

.containerNewBlogs__blogInfo--button:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: rgba(71, 207, 173, 0.849);
  color: #ffff;
}

.containerBlogs h3 {
  border-bottom: 1px solid #cdd2da;
  padding-bottom: 20px;
  text-align: center;
  font-size: 2rem;
}

.containerBlogs__article {
  display: inline-block;
  max-width: 30%;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 50px;
  -webkit-box-shadow: 2px 2px #cdd2da;
          box-shadow: 2px 2px #cdd2da;
  border-radius: 20px;
  padding: 0 0px 30px 10px;
}

.containerBlogs__article p {
  padding-left: 10px;
  margin-bottom: 35px;
  font-size: 1.5rem;
}

.containerBlogs__article h4 {
  padding-left: 10px;
  font-size: 2rem;
  font-weight: 700;
}

.containerBlogs__article img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.containerBlogs__button--button {
  border: solid 1px #47cfac;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: 500;
}

.containerBlogs__button--button:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: rgba(71, 207, 173, 0.849);
  color: #ffff;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 80px;
  background-color: #22272d;
  border-top: 35px solid #47cfac;
}

footer p {
  color: #ffff;
}
/*# sourceMappingURL=styles.css.map */