.blogs-main{
    display: grid;
}
.containerNewBlogs{
    background: rgb(55,67,84);
    background: linear-gradient(288deg, rgba(55,67,84,1) 0%, rgba(38,47,59,1) 17%, rgba(13,17,23,1) 43%);
    box-shadow: 7px 2px $colorLine;
    padding: 0 50px 40px;
    &__blogNew{
        padding: 0 50px 40px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 2fr;
        &--h3{
            color: $colorMainText;
            font-size: 2rem;
            font-weight: 700;
        }
    }
    &__blogImg{
        grid-column: 1;
        &--img{
            width: 85%;
            border-radius: 10px;
        }
    }
    &__blogInfo{
        grid-column: 2;
        &--h2{
            color: $colorMainText;
            margin-top: 0;
            font-size: 3rem;
            font-weight: 700;
        }
        &--p{
            color: $colorSecundaryText;
            font-size: 1.5rem;
            margin-bottom: 35px;
        }
        &--button{
            background: rgb(55,67,84);
            background: linear-gradient(288deg, rgba(55,67,84,1) 0%, rgba(38,47,59,1) 17%, rgba(13,17,23,1) 43%);
            border: solid 1px $colorLine    ;
            border-radius: 5px;
            padding: 10px 20px;
            color: $colorSecundaryText;
            font-size: 1.2rem;
            font-weight: 500;
            &:hover{
                transition: 0.3s;
                color: $colorMainText;
                background: rgba(55, 67, 84, 0.822);
                background: linear-gradient(288deg, rgba(55, 67, 84, 0.808) 0%, rgba(38, 47, 59, 0.774) 17%, rgba(13, 17, 23, 0.788) 43%);
            }
        }
    }
}
.containerBlogs{
    h3{
        color: $colorMainText;
        border-bottom:1px solid $colorLine;
        padding-bottom: 20px;
        text-align: center;
        font-size: 2rem;
    }
    &__article{
        display: inline-block;
        max-width: 30%;
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 50px;
        box-shadow: 2px 2px $colorLine;
        border-radius: 20px;
        padding:0 0px 30px 10px;
        p{
            color: $colorSecundaryText;
            padding-left: 10px;
            margin-bottom:35px ;
            font-size: 1.5rem;
        }
        h4{
            color: $colorMainText;
            padding-left: 10px;
            font-size: 2rem;
            font-weight: 700;
        }
        img{
            width: 100%;
            border-top-left-radius:20px ;
            border-top-right-radius:20px ;
        }
    }
    &__button{
        &--button{
            background: rgb(55,67,84);
            background: linear-gradient(288deg, rgba(55,67,84,1) 0%, rgba(38,47,59,1) 17%, rgba(13,17,23,1) 43%);
            border: solid 1px $colorLine    ;
            border-radius: 5px;
            padding: 10px 20px;
            color: $colorSecundaryText;
            font-size: 1.2rem;
            font-weight: 500;
            &:hover{
                transition: 0.3s;
                color: $colorMainText;
                background: rgba(55, 67, 84, 0.822);
                background: linear-gradient(288deg, rgba(55, 67, 84, 0.808) 0%, rgba(38, 47, 59, 0.774) 17%, rgba(13, 17, 23, 0.788) 43%);
            }
        }
    }
}