.header{
    height: 140px;
    display: grid;
        grid-template-rows: 1fr 1fr;
    border-bottom:solid 1px $colorLine;
}
.header-socialNetworks{
    width: 100%;
    height: 50px;
    display: grid;
    &__containerIcons{
        width: 300px;
        height: auto;
        display: flex;
            justify-content: space-between;
            justify-items: flex-end;
            align-items: center;
            justify-self: end;
        margin-right: 50px;
        span{
            color: $colorIcon;
        }
    }
}
.header-navBar{
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 90px;
    &__iconLogo{
        margin-left: 10px;
        img{
            width: 80px;
            border: solid 2px $colorLine;
            border-radius:50% ;
        }
    }
    &__iconMe{
        display:flex;
        align-items: center;
        justify-content: flex-end;
        a{
            color: $colorMainText;
            border-bottom:1px solid  $colorMainText ;
            font-size: 1.5rem;
            font-weight: 500;
        }
    }
}