@media screen and (max-width:1000px) {
    .containerNewBlogs{
        &__blogNew{
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        }
        &__blogImg{
            grid-row: 2;
            &--img{
                width: 100%;
            }
        }
        &__blogInfo{
            grid-column: 1;
            grid-row: 3;
            &--h2{
                font-size: 2.8rem;
            }
            &--p{
                font-size: 1.8rem;
            }
        }
    }
    .containerBlogs{
        &__article{
            max-width: 45%;
            p{
                font-size: 1.4rem;
            }
        }
    }
    .containerMePerfil{
        flex-direction: column;
        &__containerInfo{
            padding-top: 0;
            padding-bottom: 0;
            text-align: center;
        }
    }
    .projects{
        &__container{
            grid-template-columns: 1fr;
        }
    }
    .home-container{
        &__button{
            margin-top: 50px;
        }
    }
}
@media screen and (max-width:600px){
    .header-socialNetworks{
        &__containerIcons{
            margin-right: 0;
        }
    }
    .containerNewBlogs{
        padding: 0;
        &__blogInfo{
            &--h2{
                font-size: 2.5rem;
            }
            &--p{
                font-size: 1.5rem;
            }
        }
    }
    .header-navBar{
        &__iconLogo{
            margin-left: 0;
            img{
                width: 200px;
            }
        }
    }
    .containerBlogs{
        &__article{
            max-width: 95%;
            margin-left: 5px;
        }
    }
    .containerPerfil{
        padding-left: 0;
        padding-right: 0;
    }
    .containerMePerfil{
        padding-left: 0;
        padding-right: 0;
    }
    .home-container{
        &__text{
            width: 100%;
            &--p{
                font-size: 2.5rem;
            }
        }
    } 
}
@media screen and (max-width:400px){
    .containerBlogs{
        &__article{
            width: 92%;
        }
    }
    .containerNewBlogs{
        &__blogInfo{
            &--h2{
                font-size: 2.4rem;
            }
            &--p{
                font-size: 1.4rem;
            }
        }
    }
    
}