.containerPerfil{
    background: rgb(55,67,84);
    background: linear-gradient(288deg, rgba(55,67,84,1) 0%, rgba(38,47,59,1) 17%, rgba(13,17,23,1) 43%);
    box-shadow: 7px 2px $colorLine;
    padding: 0 50px 40px;
}

.containerMePerfil{
    padding: 50px 50px 40px;
    display: flex;
    align-items: center;
    &__containerImg{
        &--img{
            width: 300px;
            border-radius: 50%;
        }
    }
    &__containerInfo{
        padding: 50px;
        &--h1{ 
            color: $colorSecundaryText;
            font-size: 2rem;
            font-weight: 900;
        }
        &--p{ 
            color: $colorSecundaryText;
            font-size: 1.5rem;
        }
    }
}
.projects{
    border-bottom:1px solid $colorLine;
    padding: 0 50px 100px;
    &__container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    &__title{
        &--h3{
            color: $colorMainText;
            padding: 20px;
            font-size: 3.2rem;
            font-weight: 700;
            text-align: center;
            border-bottom: 1px solid $colorLine;
        }
    }
    &__article{
        background: rgb(55,67,84);
        background: linear-gradient(330deg, rgba(55,67,84,1) 0%, rgba(38,47,59,1) 17%, rgba(13,17,23,1) 43%);
        box-shadow: 2px 2px $colorLine;
        border-radius: 20px;
        padding: 30px 10px 30px 20px;
        margin-right: 10px;
        &--h2{ 
            color: $colorSecundaryText;
            font-size: 2rem;
        }
        &--p{ 
            color: $colorSecundaryText;
            font-size: 1.5rem;
        }
    }
}