$calorBackgroundSocialNetwork:rgb(71, 207, 172);
$colorIconSocialNetwork:rgb(255, 255, 255);
$colorButtonG:rgb(71, 207, 172);
$colorButtonGHover:rgba(71, 207, 173, 0.849);
$colorButtonGHoverText:#ffff;
$colorShadowTextHome:rgb(71, 207, 172);
$calorBackgroundFooter:#22272d;
$calorBackgroundUpFooter:rgb(71, 207, 172);
$colorFooterText:#ffff;
$colorShadow:#cdd2da;

