$calorBackgroundSocialNetwork:rgb(71, 207, 172);
$colorIconSocialNetwork:rgb(255, 255, 255);
$colorButtonG:rgb(71, 207, 172);
$colorButtonGHover:rgba(71, 207, 173, 0.849);
$colorShadowTextHome:rgb(71, 207, 172);